/* Styles for PowerPoint video on video page, 11/25/2025 */

/* Base headings and lists */
main h1,
main h2,
main h3,
main ul {
  text-align: center;
}

main h1{
  margin-top: 0.5em;
  font-size: 200%;
  color: var(--primary-color-evergreen); /* primary evergreen color */
}

/* Video text */
.video_text p {
  display: block;
  max-width: 700px; /* narrower than the 900px video */
  margin: 0 auto 0em; /* center horizontally , remove bottom spacing*/
  text-indent: 0;
}

/* Style for video specifically */
.data_video {
  width: 100%;
  max-width: 900px;
  margin: 1em auto;
  text-align: center;
}

.data_video video {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto 1em auto;
}

/* Style for Aside container */
aside {
  width: 100%;
  max-width: 900px; /* match video width */
  margin: 0 auto 1em auto;
  padding: 0 1em;
  text-align: center;
  border: 3px solid var(--primary-color-evergreen);
  border-radius: 25px;
}

aside ul {
  margin: 0;
  padding-left: 0;
  list-style: none; /* remove default bullets */
}

aside li {
  margin: 0.5em 0; /* vertical spacing between items */
}

/* Links inside aside */
aside a {
  display: inline;
  font-weight: bold;
  color: var(--secondary-color-green);
  text-decoration: none !important; /* removes underline */
}

aside a:hover,
aside a:focus {
  color: maroon;
  text-decoration: none !important;
}

/* Video + aside wrapper */
.video-aside-container {
  display: flex;
  flex-direction: column;  /* always stack vertically */
  align-items: center;
  gap: .25rem;
  width: 100%;
}

/* Media Query for small screens */
@media only screen and (max-width: 942px) {
  aside li {
    margin-bottom: 0.5em;/* spacing between list items */
  }
  .video-aside-container {
    gap: .25rem; /* reduce space between the aside and the paragragh above */
  }
}

/* Media Query for large screens */
@media only screen and (min-width: 943px) {
  main {
    display: flex;
    justify-content: center; /* centers the section and aside) */
    align-items: flex-start;
  }

  section {
    flex: 0 1 65%; /* allow section to shrink/grow but stay ~65% */
    display: flex;
    flex-direction: column; /* video + text are to stacked inside section */
    align-items: center; /* center the video inside section */
  } 
    
  .data_video {
    width: 100%;
    max-width: 900px;/* limits video width */
    margin: 0 auto; /* center video */
  }
    
  .video-aside-container {
    display: flex;
    flex-direction: column; /* stack vertically */
    align-items: center; /* center everything horizontally */  
    width: 100%;
  }

  aside {
    max-width: 900px; /* keep same width as video */
    padding: 0 1em;
  }
}